<div id="category_details" class="sublist">
	<ol>
	<% unless items.empty? -%>
		<%= render :partial => items %>
	<% else -%>
		<li><em>Diese Kategorie ist noch leer.</em></li>
	<% end -%>
	</ol>
</div>