<% @page_title = 'Ger채te체bersicht' -%>

<%= render_biglist @categories, 'Gegenst채nde',
  :locals => {
    :display => {
      :children => lambda { |item_category| item_category == @category }
    }
  }
%>

<div class="navlinks">
  <p><%= link_to 'Kategorie hinzuf체gen', new_item_category_path %></p>
</div>