<% @page_title = 'Neue Kategorie hinzufügen' -%>

<%= show_errors @category, 'die Kategorie hinzuzufügen' %>
<% form_for @category, :html => { :class => 'pretty' } do |f| %>
	<%= render :partial => f %>
	<p><%= f.submit 'Hinzufügen' %> <%= link_to 'Zurück zur Übersicht', item_categories_path, { :class => 'navlink' } %></p>
<% end %>