<% @page_title = 'Ergebnisse' -%>

<%= render_biglist ItemCategory.all, 'Gegenstände',
	:filter => lambda { |item_category| @result_categories.include?( item_category ) },
	:locals => {
		:display => {
			:children => true,
			:items => lambda { |item_category| @search_results.select { |item| item.item_category == item_category } }
		}
	}
%>

<div class="navlinks">
  <%= link_to 'Zurück zur Übersicht', item_categories_path %>
</div>
