<fieldset>
  <legend>Bestandsänderung</legend>
  <ol>
    <li><%= form.label :amount, 'Anzahl: <em>*</em>' %><%= form.text_field :amount, :size => 3 %></li>
    <li><%= form.label :reason, 'Grund: <em>*</em>' %><%= form.text_field :reason, :size => 60 %></li>
  </ol>
</fieldset>