<% @page_title = 'Mitarbeiterübersicht' -%>

<%= render_biglist @employees, 'Mitarbeiter' %>

<div class="navlinks">
	<p><%= link_to 'Neuen Mitarbeiter hinzufügen', new_employee_path %></p>
	<p><%= link_to 'Übersicht nach Fähigkeiten', skills_path %></p>
</div>