<% @page_title = 'Mitarbeiterübersicht' %>

<%= render :partial => 'employees', :object => @employees %>

<div class="navlinks">
	<p><%= link_to 'Neuen Mitarbeiter hinzufügen', new_employee_path %></p>
	<p><%= link_to 'Übersicht nach Fähigkeiten', skills_path %></p>
</div>