<% @page_title = 'Neue Telefonnummer-Kategorie hinzufügen' -%>

<%= show_errors @phone_number_type, 'die Kategorie hinzuzufügen' %>
<% pretty_form_for @phone_number_type do |f| %>
  <%= render :partial => f %>
  <p><%= f.submit 'Hinzufügen' %> <%= link_to 'Zurück zur Übersicht', phone_number_types_path, { :class => 'navlink' } %></p>
<% end %>