<p>
  <b>Name:</b>
  <%=h @phone_number_type.name %>
</p>

<div class="navlinks">
  <p><%= link_to 'Bearbeiten', edit_phone_number_type_path %> | <%= link_to 'Zurück', phone_number_types_path %></p>
</div>