<% @page_title = 'Neues Benutzerkonto anlegen' -%>

<%= show_errors @user, 'das Benutzerkonto anzulegen' %>
<% form_for @user, :html => { :class => 'pretty' } do |f| %>
	<%= render :partial => f %>
	<p><%= f.submit 'Registrieren' %></p>
<% end %>