<% @page_title = 'Neues Benutzerkonto anlegen' -%>

<%= show_errors @user, 'das Benutzerkonto anzulegen' %>
<% pretty_form_for @user do |f| %>
  <%= render :partial => f %>
  <p><%= f.submit 'Registrieren' %></p>
<% end %>