html, body {
  height: 100%;
}

body {  
  background-color: #eee;
  
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1.6;
}

p {
  margin: 6px 0;
}

h1 {
  margin: 0 0 20px 0;
  padding: 5px 0 0 0;
  
  font-family: Times, serif;
  font-weight: normal;
  
  font-size: 35px;
  line-height: 1;
}

h2 {
  margin: 20px 0 7px 0;
  
  font-family: Times, serif;
  font-weight: normal;
  
  font-size: 25px;
  line-height: 1;
}


a, a:visited {
  color: #000;
  text-decoration: underline;
}

div.navlinks {
  margin: 20px 0 0 0;
  
  float: left;
  clear: both;
}

div.navlinks p {
  margin: 0;
  padding: 0;
}

div.navlinks a, a.navlink {
  color: #002f76;
  
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

div.navlinks a:hover, a.navlink:hover {
  text-decoration: underline;
}


div.flash {
  height: 16px;
  margin: 0 0 10px 0;
  padding: 4px 8px;
  border: 1px solid #000;
  background-color: #eee;
  
  font-size: 11px;
  line-height: 16px;
  vertical-align: middle;
  font-weight: bold;
}

div.flash p {
  margin: 0;
  padding: 0;
}

div.flash img {
  margin: 0;
  padding: 0 8px 0 0;
  float: left;
}


div.flash span.message {
  display: inline-block;
  float: left;
}

div#notice {
  color: #005d00;
  border-color: #0fa50f;
  background-color: #c2f5c2;
}

div#error {
  color: #eb2323;
  border-color: #910000;
  background-color: #fdc6c6;
}

div#choose {
  color: #000;
  border-color: #ffde00;
  background-color: #fdf6c6;
}


span.alignright {
  margin: 0 0 0 5px;
  
  display: inline;
  float: right;

  text-align: right;
}

div.showbox {
  
}

div.showbox.w40 {
  width: 40%;
}

div.showbox.w60 {
  width: 60%;
}

div.showbox.left {
  float: left;
}

div.showbox.right {
  float: right;
}
