/* Basic table styles. */

table {
  border: 0 none;
  margin: 0;
}

td {
  padding: 5px;
}

thead {
  font-weight: bold;
  background-color: #eee;
}

tfoot {
  background-color: #f4f4f4;
}

td span.currency {
  display: block;
  text-align: right;
}


/* Basic list styles. */

ul {
  list-style: disc;
  padding: 0 0 0 15px;
}

ol {
  list-style: decimal;
}


/* Big box list and child list. Prepared for use with RJS. */

div.big_list {
  width: 100%;
}

div.big_list ol {
  margin: 5px 0;
  padding: 0;
  
  overflow: hidden !important;
}

div.big_list ol li {
  min-height: 25px;
  
  margin: 2px 0;
  padding: 6px 10px 0px 10px;
  
  display: block;
  
  background-color: #eee;
  border: 1px solid #ccc;
  
  color: #000;
  font-size: 13px;
  
  list-style: none;
  
  overflow: hidden;
}

div.big_list ol li a {
  display: inline-block;
  float: left;
  
  color: #000;
  text-decoration: none;
}

div.sub_list {
  margin: 35px -10px 0 -10px;
}

div.sub_list ol {
  width: 100%;
  margin: 0;
  padding: 0;
  
  overflow: hidden !important;
}

div.sub_list ol li {
  min-height: 15px;
  height: 15px;
  
  margin: 0 0 3px 0;
  padding: 5px 5px 5px 20px;
  
  display: block;
  
  background-color: #ccc;
  
  list-style: none;
  
  font-size: 11px;
}

div.sub_list ol li a {
  display: inline-block;
  float: left;
}


/* Small box list. */

div.small_list {
  width: 100%;
}

div.small_list ol {
  margin: 5px 0;
  padding: 0;
  width: 100%;
}

div.small_list ol li {
  height: 16px;
  
  margin: 1px 0;
  padding: 6px;
  
  display: block;
  
  background-color: #eee;
  
  border: 1px solid #ccc;
  
  color: #000;
  list-style: none;
  
  font-size: 12px;
  line-height: 16px;
  
  overflow: hidden;
}

div.small_list ol li span {
  display: inline-block;
  float: left;
  
  color: #000;
  text-decoration: none;
}

div.small_list ol li span.alignright {
  float: right;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* Special styles for event/history lists. */
ol.event_list span.date {
  margin: 0 2px 0 0;
  
  color: #555;
  font-size: 10px;
  line-height: 16px;
  vertical-align: middle;
}

ol.event_list span.icon {
  margin: 0 5px 0 0;
}

ol.event_list li.item_note {
  background-color: #ffc;
  border-color: #dd9;
}

ol.event_list li.item_quantity_change_plus {
  border-color: #9d9;
  background-color: #cfc;
}

ol.event_list li.item_quantity_change_minus {
  border-color: #d99;
  background-color: #fcc;
}
