<span id="search_date_show_link">
  <%= link_to_function 'Nach Zeitraum suchen' do |page|
    page.insert_html :top, :search_date, :partial => 'search_date_fields', :object => search_date_link
    page[ :search_date_show_link ].hide
    page[ :search_date_hide_link ].show
  end %>
</span>

<span id="search_date_hide_link" style="display: none">
  <%= link_to_function 'entfernen' do |page|
    page[ :search_date_fields ].remove
    page[ :search_date_show_link ].show
    page[ :search_date_hide_link ].hide
  end %>
</span>