<% @page_title = 'F채higkeiten' -%>

<% unless @skills.empty? -%>
<div class="biglist">
	<ol>
	<% for skill in @skills %>
		<% content_tag_for :li, skill do %>
			<%= render :partial => skill, :locals => { :display => { :employees => ( skill == @skill ) } } %>
		<% end %>
	<% end %>
	</ol>
</div>
<% else -%>
<p><em>keine</em></p>
<% end -%>

<div class="navlinks">
	<p><%= link_to 'Neue F채higkeit anlegen', new_skill_path %></p>
	<p><%= link_to 'Zur체ck zur Mitarbeiter체bersicht', employees_path %></p>
</div>