<% @page_title = 'Fähigkeiten' -%>

<%= render_biglist @skills, 'Fähigkeiten',
  :locals => {
    :display => {
      :children => lambda { |skill| skill == @skill }
    }
  }
%>

<div class="navlinks">
  <p><%= link_to 'Neue Fähigkeit anlegen', new_skill_path %></p>
  <p><%= link_to 'Zurück zur Mitarbeiterübersicht', employees_path %></p>
</div>