<% @page_title = @skill.name -%>

<p>Gespeicherte <%=h @skill.name%>:</p>

<% unless @skill.employees.empty? -%>
  <ul>
    <%= render :partial => 'employees/employee_summary', :collection => @skill.employees %>
  </ul>
<% else -%>
  <p><em>keine</em></p>
<% end -%>

<div class="navlinks">
  <p><%= link_to 'Mitarbeiter mit dieser F채higkeit hinzuf체gen', new_employee_path( :skill_id => @skill.id ) %></p>
  <p><%= link_to 'Zur체ck zur F채higkeitenliste', skills_path %></p>
</div>