<% @page_title = 'kelpTool' -%>

<p><strong>Version:</strong> 0.1 alpha</p>
<p>
<strong>Autor: </strong><%= link_to 'David Nadlinger', 'mailto: david.nadlinger@gmail.com' %><br/>
<strong>Icons: </strong><%= link_to 'Silk Icons (famfamfam)', 'http://famfamfam.com/lab/icons/silk/' %>
</p>

<div class="navlinks">
  <%= link_to 'Zurück', :back %>
</div>