<% @page_title = 'kelpTool' -%>

<p>Version: 0.1 alpha</p>
<p>
<%= link_to 'David Nadlinger', 'mailto: david.nadlinger@gmail.com' %><br/>
Icons: <%= link_to 'Silk Icons (famfamfam)', 'http://famfamfam.com/lab/icons/silk/' %>
</p>

<div class="navlinks">
  <%= link_to 'Zurück', :back %>
</div>