<% @page_title = 'kelpTool' -%>

<p>Willkommen im kelpTool.</p>
<p>Benutzen Sie die Links in der oberen Navigationsleiste, um zu den Aufgaben zu gelangen.</p>

<div class="navlinks">
  <p><strong>Sonstige Einstellungen:</strong></p>
  <ul>
    <li><%= link_to 'Telefonnummer-Kategorien', phone_number_types_path %></li>
  </ul>
</div>