<li class="phone_number">
<%- fields_for_phone_number path, phone_number do |phone_form| -%>
	<%= phone_form.text_field :number %>
	<%= phone_form.collection_select :type_id, PhoneNumberType.all, :id, :name %>
	
	<%= link_to_function 'entfernen', "this.up( '.phone_number' ).remove()" %>
<%- end -%>
</li>