<% unless flash[ :error ].nil? -%>
  <div class="flash" id="error"><%= icon( :error ) %><p><%= flash[ :error ] %></p></div>
<% end -%>
<% unless flash[ :notice ].nil? -%>
  <div class="flash" id="notice"><%= icon( :ok ) %><p><%= flash[ :notice ] %></p></div>
<% end -%>